@model DeliveriandoWebApp.Models.LocalPasswordModel

<h3>Cambiar contraseña</h3>

@using (Html.BeginForm("Manage", "Account")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Change Password Form</legend>
        <ol>
            <li>
                <p>Contraseña actual</p>
                @Html.PasswordFor(m => m.OldPassword)
            </li>
            <li>
                 <p>Nueva contraseña</p>
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                 <p>Confirmar nueva contraseña</p>
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <input type="submit" value="Guardar cambios " />
    </fieldset>
}
