@model DeliveriandoWebApp.Models.OrdenModels

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>OrdenModels</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product.nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product.precio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.precio)
    </div>
    
     <div class="display-label">
         @Html.DisplayNameFor(model => model.product.IdRestaurante)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.IdRestaurante)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product.isSelected)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.isSelected)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product.shortDesc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.shortDesc)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.product.stateHasChanged)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.product.stateHasChanged)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.quantity)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.quantity)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.extPrice)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.extPrice)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
