@model IEnumerable<DeliveriandoWebApp.Models.PlatoModels>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdRestaurante)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCategoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Precio)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{


    //var lol = (int) Session["PLatoID"];

    //if (item.IdRestaurante == lol)
    //{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdRestaurante) 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdCategoria)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.ID}) |
                @Html.ActionLink("Details", "Details", new {id = item.ID}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.ID})
            </td>
        </tr>
    //}

}
</table>
